<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632759342287-f8r3masop1ijr8r60tb01t5d13e5shqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632759342287-f8r3masop1ijr8r60tb01t5d13e5shqe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>632759342287-4j4k9p42f09jpubj8dopm5jpm9kvr97a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD2l_Hd2pyA0vFRBr2EG0_GxzUq9jRxf1s</string>
	<key>GCM_SENDER_ID</key>
	<string>632759342287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.ekshakti.EkVastu</string>
	<key>PROJECT_ID</key>
	<string>wajooba-generic</string>
	<key>STORAGE_BUCKET</key>
	<string>wajooba-generic.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632759342287:ios:fb9a1c672e1a9e760a53ba</string>
</dict>
</plist>